<div class="jumbotron">
	<h1>ITST J.F. Kennedy <small>Pordenone</small></h1>
	<h2>Istituto Tecnico Settore Tecnologico</h2>
	<p>Questo istituto offre ad i suoi studenti la possibilità di affermare le loro capacità e la loro passione per le materie tecniche.
	<p>I quattro indirizzi, <strong>meccanica</strong> e plasturgia, <strong>elettronica</strong>, <strong>chimica</strong> ed <strong>informatica</strong>, offrono un'ampia scelta allo studente.
</div>
<% if @index[:evaluation] %>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Valutazioni</h3>
			</div>
			<div class="panel-body">
				<div class="image">
					<%= image_tag "evaluations.svg", alt: "Evaluations", width: '100%' %>
				</div>
				<% @index[:evaluation].each do |k,v| %>
					<%= link_to k, v, class: [ "btn", "btn-default", "btn-fill-width" ] %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
