<div class="jumbotron">
	<h1>ITST J.F. Kennedy <small>Pordenone</small></h1>
	<h2>Istituto Tecnico Settore Tecnologico</h2>
	<p>Questo istituto offre ad i suoi studenti la possibilità di affermare le loro capacità e la loro passione per le materie tecniche. 
	<p>I quattro indirizzi, <strong>meccanica</strong> e plasturgia, <strong>elettronica</strong>, <strong>chimica</strong> ed <strong>informatica</strong>, offrono un'ampia scelta allo studente. 
</div>
